body {
}

#contador::after {
  content: 'hey';
}

#main {
  display: flex;
  height: 100%;
  min-height: 100%;
}

#cajita {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  margin: auto;
  transition-duration: 500ms;
  transition-property: width;
}

#cajita:hover {
  background-color: crimson;
  width: 300px;
}

